.site-header {
    background-color: $dark-blue;
    color: white;

    &__top {
        padding: 1em 0;

    }

    &__contacts__list {
        padding: 0;
        list-style: none outside;
        justify-content: space-between;

        &__link {
            text-decoration: none;
            color: inherit;
        }

        .icon {
            padding-right: 0.5em;
        }
    }

    &__socials {
        justify-content: center;
        align-items: center;

        &__list {
            list-style: none outside;
            margin: 0;
            padding: 0;
            justify-content: space-evenly;

            &__item {
                margin: 0 1em;
            }

            &__link {
                text-decoration: none;
                color: inherit;
            }

        }
    }
}