<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="site-header">
        <div class="site-header__top">
            <div class="content-container flex-container flex-container--column">
                <div class="site-header__contacts">
                    <ul class="site-header__contacts__list flex-container">
                        <li class="site-header__contacts__list-item icon--before icon--before--map-marker">1234 Address</li>
                        <li class="site-header__contacts__list-item icon--before icon--before--envelope">mail@mail.com</li>
                        <li class="site-header__contacts__list-item icon--before icon--before--phone">0888 88 88 88</li>
                    </ul>
                </div>
                <div class="site-header__socials flex-container">
                    <span>Follow us:</span>
                    <ul class="site-header__socials__list flex-container">
                        <li class="site-header__socials__list__item"><a href="#" class="site-header__socials__list__link"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="site-header__socials__list__item"><a href="#" class="site-header__socials__list__link"><i class="fab fa-pinterest-p"></i></a></li>
                        <li class="site-header__socials__list__item"><a href="#" class="site-header__socials__list__link"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include navigation.html %}
    </header>
    <main>
        {{ content }}  
    </main>
    <footer>

    </footer>
    <script src="/assets/js/site.js"></script>
    <!-- <script src="/assets/js/slider.js"></script> -->
</body>
</html>